/* @import url((https://fonts.google.com/specimen/Kumbh+Sans); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
 
} */


.container {
  /* border: 3px solid  green; */
  height: 100vh;
  width: 100%;
  /* padding-left: 30px; */
  /* padding-right: 30px; */

  /* max-width: 70rem; */
  /* margin: auto; */
  /* max-width: 90rem; */
  /* margin-left: 2rem; */
}

.wrapper {
  /* border: 2px solid rebeccapurple; */
  margin: auto;
  max-width: 65rem;
  /* padding-left: 18px; */
  /* padding-left: 1.563rem; */
}

.myHeader {
  border-bottom: 1px solid hsla(219, 9%, 45% 0.1);
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 18px 0 18px 0;
  margin: auto;
  /* border: 2px solid red; */
  /* padding-left: 18px;  */
  padding-left: 1.563rem;
  /* margin-left: 2rem; */
}
.myMenu{
  /* border: 2px solid red; */
  width: 2.188rem;
  height: 2.188rem;
  background-image: url(./images/icon-menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  /* margin-left: 40px; */
  display: none;
  cursor: pointer;
}
.headerLogo{
  margin-top: 0.625rem;

}
/* .menu {
  margin-right: 20px;
  border: 2px solid red;
  margin-bottom: 8px;
  cursor: pointer;
} */
hr {
  /* color: green; */
  border-bottom: 1px solid hsl(219, 9%, 45%);
  opacity: 0.1;
  margin-top: 1px;
  /* margin-right: 3.125rem; */
}
#close{
  /* border: 2px solid blue; */
  display: none;
}

.nav-list {
  /* border: 2px solid orange; */
  display: flex;
  flex: 1;
  margin-left: 3.125rem;
  gap: 2.188rem;
  font-size: 16px;
  list-style: none;
  text-transform: capitalize;
  /* margin-right: 80px; */
  font-weight: 400;
  gap: 1rem;
  /* color: green; */
}

/* a:hover{
    border-bottom: 3px solid orange;
} */
.pageTab:hover {
  border-bottom: 3px solid hsl(26, 100%, 55%);
  /* transition: 0.3s linear;   */
}
/* li{
    /* border: 2px solid greenyellow; */
/* padding: 18px 0 18px 0; */
/* } */

a {
  /* border: 2px solid green; */
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  padding: 22px 0 30px 0;
}

.productDetails {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  gap: 1.125rem;
  align-items: center;
  /* margin-right: 3.12rem; */
  /* margin-left: 10px; */
}
#productCart {
  /* border: 2px solid yellow; */
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
}
#cartItemNo {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  /* right: 0; */
  color: white;
  background-color: hsl(26, 100%, 55%);
  margin-top: -4px;
  border-radius: 5px;
  font-size: 10px;
  padding: 0 5px;
  left: 10px;
}
#avatarImage {
  /* border: 2px solid black; */
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}
#avatarImage:hover {
  border: 1px solid hsl(26, 100%, 55%);
}
#avatarImage > img {
  width: 100%;
  height: 100%;
}

/* CAROUSEL SLIDE */
.carousel{
  /* border: 4px solid black; */
  /* width: 100vh; */
  height: 400px;
  position: relative;
  /* background-position: center; */

  
}

.carousel > img{
  height: 100%;
  width: 100%;
}

.slider{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 180px;
  /* text-align: center; */
}

#previousKey, #nextKey{
  border: none;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin: 0 25px;
  /* padding: 8px; */
}

.productDescription{
  /* border: 2px solid rgb(73, 143, 73); */
  height: 30px;
  margin-left: 28px;
  margin-right: 28px;
  /* width: 100%; */
  /* margin: auto; */
  /* max-width: 26rem; */
}

.companyName{
  /* border: 2px solid blue; */
  text-transform: uppercase;
  font-size: 16px;
  /* letter-spacing: 1.3px; */
  font-weight: 400;
  margin-top: 1.2rem;
  color: hsl(26, 100%, 55%);
}

h1{
  /* border: 2px solid red; */
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-top: 0.8rem;
}

.description{
  /* border: 2px solid green; */
  line-height: 1.5rem;
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  font-size: 16px;
  margin-top: 1rem;
}
.prices{
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 3px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.currentPrice{
  /* border: 1px solid red; */
  color: hsl(220, 13%, 13%);
  font-size: 28px;
  font-weight: 700;
  /* flex: 1; */
 
}
.current{
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

}
.percentage{
  /* border: 2px solid blue; */
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-size: 16px;
  font-weight: 700;
  padding: 7px 15px;
  border-radius: 8px;
   /* flex: 1; */

  
  /* margin-right: 10rem; */
  
  
}

.oldPrice{
  /* border: 2px solid yellow; */
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 700;
  color: hsl(219, 9%, 45%); 
}
/* @media (min-width: 682px) {
  .nav-list{
    /* border: 2px solid black; */
    /* gap: 1rem; */
  
  /* } */
  
/* } */ 
/* html{
  /* height: 100vh; */
/* } */ 
@media (max-width: 649px) {
  body{
    /* border: 2px solid orange; */
    /* position: relative; */
  }
  .container{
    /* border: 2px solid blue; */
    position: relative;
    /* height: 100vh; */
  }
  .wrapper{
    /* border: 2px solid black; */
    /* position: fixed; */
    margin-left: 0;
    /* position: relative; */ 
  }
  #close{
    /* border: 2px solid blue; */
    display: flex;
    margin: 20px;
    cursor: pointer;
  }
  body{
    /* border: 2px solid red; */
    /* height: 100vh; */

  }
  
  
  .nav-list{
    /* display: none; */
    display: block;
    /* border: 4px solid yellow; */
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 16rem;
    background-color: hsl(25, 100%, 94%);
    transform: translateX(-100%);
    z-index: 1;
    
    
  }
  .pageTab{
    /* border: 2px solid green; */
    padding: 20px;
    color: hsl(220, 13%, 13%);
    font-weight: 400;
    font-size: 16px;
  }
  li{
    /* border: 2px solid black; */
    padding: 7px 7px;
  }
  .pageTab:hover{
    border: none;
  }
  .myMenu{
    /* border: 2px solid blue; */
    display: block;
    /* margin-left: 2.188rem; */
  }
  

  .myHeader{
    /* border: 2px solid yellowgreen; */
    /* width: 100vw; */
    
  }
  .headerLogo{
    /* border: 2px solid red; */
    flex: 1;
    margin-left: 1rem;

    /* margin-right: 5rem; */
  }

  .productDetails{
    /* border: 2px solid green; */
    /* margin-right: 1.8rem; */
  }
  /* @media (min-width: 650px) {
    .headerLogo{
      /* border: 2px solid red; */
  
      /* margin-right: 5rem; */
    /* } */
    
  /* } */ 
  /* .headerLogo{
    border: 2px solid black;
  } */
  hr{
    display: none;
  }
  
}
/* @media (max-width: 650px ) {
  .headerLogo{
    border: 2px solid black;
  }
  
} */
 /* .headerLogo{
    border: 2px solid black;
  } */
