/* @import url((https://fonts.google.com/specimen/Kumbh+Sans); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
/* html {
  width: 100%;
  height: 100%;
} */
/* body {
 font-family:  Kumbh Sans;
 
} */

.container {
  /* border: 3px solid  green; */
  height: 100vh;
  width: 100%;
  /* padding-left: 30px; */
  /* padding-right: 30px; */

  /* max-width: 70rem; */
  /* margin: auto; */
  /* max-width: 90rem; */
  /* margin-left: 2rem; */
}

.wrapper {
  /* border: 2px solid rebeccapurple; */
  margin: auto;
  max-width: 65rem;
  /* padding-left: 18px; */
  /* padding-left: 1.563rem; */
}

.myHeader {
  border-bottom: 1px solid hsla(219, 9%, 45% 0.1);
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  /* padding: 18px 0 18px 0; */
  margin: auto;
  /* border: 2px solid red; */
  /* padding-left: 18px;  */
  /* padding-left: 1.563rem; */
  /* margin-left: 2rem; */
}
#myMenu {
  /* border: 2px solid red; */
  width: 2.188rem;
  height: 2.188rem;
  background-image: url(./images/icon-menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 28px;
  display: none;
  cursor: pointer;
}
.headerLogo {
  margin-top: 0.625rem;
  /* border: 1px solid green; */
}
/* .headerLogo:hover{
  color: hsl(220, 13%, 13%);
} */
/* .menu {
  margin-right: 20px;
  border: 2px solid red;
  margin-bottom: 8px;
  cursor: pointer;
} */
hr {
  /* color: green; */
  border-bottom: 1px solid hsl(219, 9%, 45%);
  opacity: 0.1;
  margin-top: 1px;
  /* margin-right: 3.125rem; */
}
#close {
  /* border: 2px solid blue; */
  display: none;
}

.nav-list {
  /* border: 2px solid black; */
  display: flex;
  flex: 1;
  margin-left: 4.125rem;
  /* gap: 2.588rem; */
  font-size: 16px;
  list-style: none;
  text-transform: capitalize;
  /* margin-right: 250px; */
  font-weight: 400;
  gap: 1.5rem;

  /* color: green; */
}

/* a:hover{
    border-bottom: 3px solid orange;
} */
.pageTab:hover {
  border-bottom: 3px solid hsl(26, 100%, 55%);
  /* transition: 0.3s linear;   */
}
/* li{
    /* border: 2px solid greenyellow; */
/* padding: 18px 0 18px 0; */
/* } */

a {
  /* border: 2px solid green; */
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  padding: 22px 0 30px 0;
}

.productDetails {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  gap: 1.125rem;
  align-items: center;
  /* margin-right: 3.12rem;
  margin-left: 10px; */
  position: relative;
}
.cart {
  /* border: 4px solid red; */
  background-color: white;
  max-width: 460px;
  transform: translateX(-50%);
  /* justify-content: center; */
  /* justify-items: center; */
  width: 95%;
  /* heigh */
  position: absolute;
  top: 90px;
  left: 50%;
  /* right: 70px; */
  border-radius: 8px;
  /* margin-left: 1rem; */
  margin-right: 1rem;
  /* z-index: 1; */
  /* box-shadow: -2px 13px 28px -1px hsl(220, 14%, 75%); */
  /* color: hsl(220, 13%, 13%);*/
  display: none;
  /* transition: 0.3s ease-in; */
  /* height: 40%; */
}
/* .cart.open{
  display: block;
} */
.cartHeader {
  /* border: 2px solid green; */
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 1px solid hsla(219, 9%, 45%, 10%);
  padding: 1.3rem;
  color: hsl(220, 13%, 13%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* opacity: 0.3; */
  /* color: hsl(219, 9%, 45%, 0.6);  */
  /* opacity: 0.6; */
}
.cartHeader > img {
  /* border: 2px solid red; */
  height: 1rem;
  cursor: pointer;
}

.cartParagraph {
  /* border: 2px solid yellow; */
  height: 4rem;
  display: flex;
  justify-content: space-between;
  /* gap: 1rem; */
  margin: 1.3rem 1.3rem;
  /* align-items: center; */
}
#cartItemImg {
  /* border: 2px solid black; */
  border-radius: 5px;
}

.cartDetails {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  font-size: 16px;
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  margin-top: 0.2rem;
  line-height: 1.55rem;
  text-transform: capitalize;
  flex: 1;
  margin-left: 1.3rem;
}
#priceTag{
  /* border: 2px solid red; */
  /* margin-bottom: 0.3rem; */
}
#totalItem {
  /* border: 1px solid red; */
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-left: 0.2rem;
}
.deleteItem {
  /* border: 2px solid black; */
  height: 1.6rem;
  width: 1.3rem;
  margin-top: 1.3rem;
  cursor: pointer;
  /* justify-items: end; */
  /* margin-left: 0.5rem; */
}

.checkout {
  /* border: 4px solid green; */
  border: none;
  /* margin: 0.8rem 1.2rem 1.8rem 1.2rem; */
  width: 90%;
  /* max-width: 420px; */
  /* width: 100%; */
  background-color: hsl(26, 100%, 55%);
  color: white;
  font-size: 16px;
  padding: 13px 18px;
  border-radius: 8px;
  font-weight: 400;
  text-transform: capitalize;
  justify-content: center;
  margin: 1.2rem 1.3rem 1.3rem 1.3rem;
  

  /* transform: translateX(-50%); */
  /* margin-left: 50%; */
}

#productCart {
  /* border: 2px solid yellow; */
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
}
#cartItemNo {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  /* right: 0; */
  color: white;
  background-color: hsl(26, 100%, 55%);
  margin-top: -4px;
  border-radius: 5px;
  font-size: 10px;
  padding: 0 5px;
  left: 10px;
  /* display: none; */
}
#avatarImage {
  /* border: 2px solid black; */
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}
#avatarImage:hover {
  border: 1px solid hsl(26, 100%, 55%);
}
#avatarImage > img {
  width: 100%;
  height: 100%;
}



/* CAROUSEL SLIDE */
.carousel {
  /* border: 4px solid black; */
  overflow: hidden;
  /* width: 100vh; */
  height: 400px;
  position: relative;
  z-index: -1;
  /* background-position: center; */
}
.carouselSlide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* border: 3px solid orange; */
  height: 390px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.carouselSlide.current{
  opacity: 1;
}
.carouselSlide:first-child{
  background: url(./images/image-product-1.jpg) no-repeat center center/cover ;
}
.carouselSlide:nth-child(2){
  background: url(./images/image-product-2.jpg) no-repeat center center/cover ;
}
.carouselSlide:nth-child(3){
  background: url(./images/image-product-3.jpg) no-repeat center center/cover ;
}
.carouselSlide:nth-child(4){
  background: url(./images/image-product-4.jpg) no-repeat center center/cover ;
}






.carousel > img {
  border: 1px solid blue;
  height: 100%;
  width: 100%;
}
.slider {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 250px;
  /* z-index: 99; */
  /* cursor: pointer; */
  /* text-align: center; */
}
#previousKey,
#nextKey {
  border: none;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  margin: 0 25px;
  cursor: pointer;
  /* padding: 8px; */
}


/* PRODUCT DESCRIPTION */

.productDescription {
  /* border: 2px solid rgb(73, 143, 73); */
  /* height: 30px; */
  margin-left: 28px;
  margin-right: 28px;
  /* width: 100%; */
  /* margin: auto; */
  /* max-width: 26rem; */
}

.companyName {
  /* border: 2px solid blue; */
  text-transform: uppercase;
  font-size: 16px;
  /* letter-spacing: 1.3px; */
  font-weight: 700;
  margin-top: 1.2rem;
  color: hsl(26, 100%, 55%);
  /* text-align: justify; */
}

h1 {
  /* border: 2px solid red; */
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-top: 0.8rem;
}

.description {
  /* border: 2px solid green; */
  line-height: 1.5rem;
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  font-size: 16px;
  margin-top: 1rem;
  text-align: justify;
}
.prices {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 3px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.currentPrice {
  /* border: 1px solid red; */
  color: hsl(220, 13%, 13%);
  font-size: 28px;
  font-weight: 700;
  /* flex: 1; */
}
.current {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.percentage {
  /* border: 2px solid blue; */
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-size: 16px;
  font-weight: 700;
  padding: 7px 15px;
  border-radius: 8px;
  /* margin: 2px 2px; */
  /* flex: 1; */

  /* margin-right: 10rem; */
}

.oldPrice {
  /* border: 2px solid yellow; */
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  opacity: 0.6;
}

.counter {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 15px;
  background-color: hsl(223, 64%, 98%);
  /* font-size: 32px; */
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}
#subtract {
  /* border: 2px solid red; */
  border: none;
  background: none;
  color: hsl(26, 100%, 55%);
  font-size: 25px;
  font-weight: 700;
  margin-left: 0.8rem;
  cursor: pointer;
}
#counterNumber {
  /* border: 2px solid green; */
  text-align: center;
  background-color: hsl(223, 64%, 98%);
  font-size: 23px;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
#addition {
  /* border: 2px solid black; */
  /* font-size: 16px; */
  border: none;
  background: none;
  color: hsl(26, 100%, 55%);
  font-size: 18px;
  font-weight: 700;
  margin-right: 0.8rem;
  cursor: pointer;
}
#addToCart {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 12px;
  padding: 11px 15px;
  color: white;
  background-color: hsl(26, 100%, 55%);
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 3rem;
  box-shadow: -2px 15px 32px -12px hsl(26, 100%, 55%);
  cursor: pointer;
  /* z-index: 99; */
}
.addToCartImg {
  /* border: 2px solid black; */
  margin-right: 0.8rem;
  fill: red;
  /* background-color: white; */
}
.svg {
  /* fill: white; */
  /* border: 1px solid red; */
  /* background-color: white; */
}
.hamburgerMenu{
  display: none;
}

/* LIGHTBOX MODAL */
.lightBoxModal {
  /* border: 2px solid red; */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  /* transition: background 1s ease-in ; */
}
.lightBoxPopUp {
  /* border: 2px solid yellow; */
  /* width: ; */
  height: 380px;
  width: 400px;
  position: relative;
  margin-bottom: 1rem;
}
.removePopUp {
  /* border: 2px solid green; */
  margin-bottom: 0.8rem;
  display: flex;
  text-align: right;
  justify-content: right;
  text-align: right;
  background: none;
  border: none;
  /* color: white; */
  position: absolute;
  right: 0;
  cursor: pointer;
  /* top: 8; */
  /* position: fixed; */
  /* right: 0; */
}
.removePopUp > img {
  /* border: 2px solid; */
}

/* .lightBoxPopUp > img{
  height: 100%;
  width: 100%;
} */

.lightboxPictures {
  /* display: none; */
  /* border: 2px solid green; */
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;
  position: relative;
  border-radius: 8px
  /* width: 30rem; */
}

/* CAROUSEL SLIDE */

.lighBoxImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* border: 3px solid orange; */
  height: 390px;
  /* opacity: 0; */
  transition: opacity 0.4s ease-in-out;
}
.lighBoxImg:first-child{
  background: url(./images/image-product-1.jpg) no-repeat center center/cover ;
}
.lighBoxImg:nth-child(2){
  background: url(./images/image-product-2.jpg) no-repeat center center/cover ;
}
.lighBoxImg:nth-child(3){
  background: url(./images/image-product-3.jpg) no-repeat center center/cover ;
}
.lighBoxImg:nth-child(4){
  background: url(./images/image-product-4.jpg) no-repeat center center/cover ;
}






.carousel > img {
  border: 1px solid blue;
  height: 100%;
  width: 100%;
}
.lightboxPictures > img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.lightboxArrowKeys {
  /* border: 2px solid red; */
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  width: 430px;
  position: absolute;
  top: 275px;
}
.slider {
  /* text-align: center; */
}

#lightboxPreviousKey,
#lightboxNextKey {
  border: none;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  /* margin: 0 25px; */
  /* padding: 8px; */
}
#lightboxNextKey {
  /* margin-left: 2rem; */
}
/* .thumbnail{
  border: 2px solid blue;
} */
.thumbnailPictures {
  /* border: 2px solid red; */
  height: 75px;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.thumbnailPictures > img {
  /* border: 2px solid green; */
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
  margin: 0.2rem 0.1rem;
}

.thumbnailPictures > img:hover {
  border: 3px solid hsl(26, 100%, 55%);
  opacity: 0.5;
  /* background-color: rgba(241, 235, 235, 0.75); */
}
img.demo {
  /* opacity: 0.6; */
}

.active,
.demo:hover {
  opacity: 0.6;
  border: 3px solid hsl(26, 100%, 55%);
}

@media (min-width: 650px) {
  body {
    /* border: 2px solid red; */
  }
  .container {

    /* border: 4px solid green; */
    /* display: flex; */
    /* flex-direction: row; */
  }

  .wrapper {
    /* border: 4px solid yellow; */
    /* position: relative; */
  }
  .carousel {
    /* border: 4px solid black; */
    position: relative;
    z-index: -1;
    border-radius: 5px;
    width: 320px;
    height: 320px;
    margin-left: 2.5rem;
    /* overflow: hidden; */
    /* width: ; */
    /* background-position: center; */
  }
  .carouselSlide {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
    /* margin-left: 2rem; */
  }
 
  .myProduct {
    /* margin-top: 4rem; */
    /* border: 5px solid orange; */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    max-width: 59rem;
    margin: auto;
    margin-top: 4rem;
    position: relative;
  }
  .thumbnail {
    /* border: 4px solid red; */
    width: 320px;
    position: absolute;
    top: 340px;
    left: 38px;
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */


  }
  .thumbnailImg {
    /* border: 1px solid blue; */
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%;

    /* gap: 1rem; */
  }
  .thumbnailImg:active {
    border: 3px solid hsl(26, 100%, 55%);
    /* background-color: black; */
    opacity: 0.6;
  }
  .productDescription {
    /* border: 2px solid red; */
    width: 400px;

    margin-left: 3rem;
    /* padding-left: 0; */
    /* padding: 2rem; */
  }

  .slider {
    display: none;
  }

  .prices {
    /* border: 2px solid; */
    display: block;
    text-align: left;
    align-items: left;
    margin-top: 1.2rem;
  }
  .cartButton {
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 0.8rem;
    /* flex-direction: row; */
    /* margin-left: 2rem; */
  }
  .counter {
    /* border: 2px solid green; */
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 0;
    /* padding: 0; */
    align-items: center;
    /* justify-content: space-around; */
    /* gap: 1.5rem; */
    width: 100%;
    font-size: 16px;
    padding: 3px 15px;
    color: white;
    /* background-color: hsl(26, 100%, 55%); */
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .productDetails{
    /* position: relative; */
  }
  .cart{
    /* border: 1px solid red; */
    position: absolute;
    top: 65px;
    /* top: 0; */
    max-width: 320px;
    width: 100%;
    /* left: 0; */
    /* right: 20px; */
    /* border-radius: 6px; */
    /* z-index: -1; */
    box-shadow: -2px 13px 28px -1px hsl(220, 14%, 75%);
    /* color: hsl(220, 13%, 13%);*/
    /* display: none; */
    transform: translateX(0px);
    /* font-size: 5px; */
    /* justify-self: center; */
    /* transform: translateX(50%); */
    
  }
  #addToCart {
    /* border: 2px solid purple; */
    padding: 3px 15px;
  }
  #subtract {
    margin-left: 0.3rem;
  }

  #addition {
    margin-right: 0.3rem;
  }
  #counterNumber {
    /* border: 1px solid green; */
    /* display: none; */
    /* height: 3rem; */
    /* height: 100%; */
  }
  body {
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* z-index: ; */
  }
}

@media (max-width: 649px) {
  body {
    /* border: 6px solid orange; */
    /* height: 100vh; */
    /* position: relative; */
    /* z-index: 3; */
    /* margin-bottom: 0; */
  }
  .container {
    /* border: 1px solid rgba(0, 0, 0, 0.75); */
    position: relative;
    height: 100%;
    transition: 0.3s ease;
    /* position: fixed; */

    /* width: 100%; */
    /* background-color: rgba(0, 0, 0, 0.75); */
  }
  .wrapper {
    /* border: 2px solid black; */
    position: sticky;
    margin-left: 0;
    position: relative;
  }
  .hamburgerMenu{
    /* border: 2px solid red; */
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
   transition: 0.3s ease;
   position: fixed;
   /* opacity: 0; */
   /* display: none; */
   transform: translateX(-100%);
   z-index: 5;
  }

  .hamburgerMenu.active{
    /* display: flex; */
    transform: translateX(0px);
    /* background-color: rgba(0, 0, 0, 0.75); */
    /* opacity: 0.8;/ */
    /* transition: 0.3s linear; */
  }


  .sideMenu{
    /* border: 2px solid yellow; */
    height: 100%;
    width: 60%;
    background-color: white;
    position: fixed;
    list-style-type: none;
    /* transform: translateX(-100%); */
    transition:  0.3s linear;
    z-index: 99;
    
  }
  #close {
    /* border: 2px solid blue; */
    display: flex;
    margin: 20px 20px 15px 30px;
    cursor: pointer;
  }
  /* #close:hover{
    transform: skewX(10);
  } */
  .menuTab{
    /* border: 1px solid yellow; */
    margin: 10px 20px 20px 30px;
    /* padding-top: 3rem; */
    text-transform: capitalize;
    list-style-type: none;
    font-weight: 400;
    color: hsl(220, 13%, 13%);
    /* position: fixed; */
    /* transform: translateX(0px); */
    /* display: none; */
    /* transition: 0.3s ease-in; */
  }
  .menuTab:hover{
    /* border-left: 3px; */
    /* margin-right: 10px; */
  }
  .cart {
    /* border: 2px solid red; */
    /* display: flex; */
    /* background-color: white; */
    /* max-width: 420px; */
    /* width: 100%; */
    /* position: absolute; */
    /* top: 65px; */
    /* left: 10px; */
    /* right: 10px; */
    /* border-radius: 6px; */
    /* z-index: 99; */
    /* box-shadow: -2px 13px 28px -1px hsl(220, 14%, 75%); */
    /* color: hsl(220, 13%, 13%);*/
    /* display: none; */
    /* transform: translateX(-50%); */
    /* justify-self: center; */
  }
  

  .nav-list {
   display: none;
  }

  li {
    /* border: 2px solid black; */
    /* margin-top: 10px; */
    padding: 8px 7px;
  }
  
  #myMenu {
    /* border: 2px solid blue; */
    display: block;
    /* margin-left: 2.188rem; */
  }

  .myHeader {
    /* border: 2px solid yellowgreen; */
    /* width: 100vw; */
  }
  .headerLogo {
    /* border: 2px solid red; */
    flex: 1;
    margin-left: 1rem;

    /* margin-right: 5rem; */
  }

  .productDetails {
    /* border: 2px solid green; */
    /* margin-right: 1.8rem; */
  }
  /* @media (min-width: 650px) {
    .headerLogo{
      /* border: 2px solid red; */

  /* margin-right: 5rem; */
  /* } */

  /* } */
  /* .headerLogo{
    border: 2px solid black;
  } */
  hr {
    display: none;
  }
  .thumbnail {
    display: none;
  }
  .lightBoxModal {
    display: none;
  }
  .cartButton{
    /* z-index: 5; */
    /* border: 2px solid red; */
    /* margin-bottom: 60px; */
  }
  .lightBoxModal{
    display: none;
  }
}
/* @media (max-width: 650px ) {
  .headerLogo{
    border: 2px solid black;
  }
  
} */
/* .headerLogo{
    border: 2px solid black;
  } */
  .cartBody{
    /* border: 1px solid red; */
    height: 40%;
  }
.emptyCart{
  margin: 95px;
  text-align: center;
  font-size: 16px;
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  /* display: none; */
  /* border: 2px solid red; */
  /* height: 120px; */
}
.emptyCart.show{
  display: block;
}